
.recla {
    background-image:  url("img/fondo-formulario.jpg");
    background-position: center;
    height: 700px;
    width: 650px;
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
    margin-left: 30%;
    margin-top:3%;
    border-radius: 19%;
    border-style: ridge;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.asd{
    background-image:  url("img/fotter.jpg");
    color: aliceblue; 
    margin-top: 14%;
    
  
   

}
.fondo-blur{
    background-image:  url("img/fondo\ web3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;             
    background-color: transparent; 
    background-size:cover;
    background-position: center;
  }
  .fondo-blur::before{
    content: '';
    display: block;
    background: inherit;
    position: absolute;
    left: 0; top: 0;
    transform: scale(1.2,1.4);
  }
  .header {
    color: #000000;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.programeje{
    background-image:  url("img/bannerdeporte.jpg");
    margin-top: 0%;
    background-position: center;
    height: 350px;
    width: 600px;
    margin-bottom: 1%;
    margin-left: 35%;
    border-radius: 70%;
    background-repeat: no-repeat;
   
}
.register{
    background-image:  url("img/corazoncito.png");
    
    margin-top: 3%;
    background-position: left;
   
}

.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #1ea85c;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #1ea85c;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #1ea85c;
    border: 2px solid #515c59;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: .5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}


.carousel {
    margin-bottom: 4rem;
    
  }
 
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    
  }
  .carousel-item {
    height: 32rem;
    
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
   
  }
  